<h2>& this is my <u>watchlist</u></h2>

<ul class="watchlist-nav group">
	<li id="watch-link" data-id="Currently Watching" class="selected">Currently Watching</li>
	<li id="watch-link" data-id="Plan to Watch">Plan to Watch</li>
	<li id="watch-link" data-id="Completed">Completed</li>
	<li id="watch-link" data-id="Dropped">Dropped</li>
</ul>

<section id="list-container"></section>