<h2>& this is my <u>watchlist</u></h2>

<ul class="watchlist-nav group">
	<li id="watch-link" data-id="Currently Watching" class="selected">
		<p>Currently Watching</p>
	</li>
	
	<li id="watch-link" data-id="Plan to Watch">
		<p>Plan to Watch</p>
	</li>
	
	<li id="watch-link" data-id="Completed">
		<p>Completed</p>
	</li>
	
	<li id="watch-link" data-id="Dropped">
		<p>Dropped</p>
	</li>
</ul>

<section id="list-container"></section>