<h1>Sign In</h1>

<section class="sign-in">

<form class="user-form" action="<%= session_url %>" method="post">
  <%= form_auth %>

  <div class="input-group">
		<label for="user_username">Username:</label>
	  <input id="user_username" type="text" name="user[username]">
	</div>

  <div class="input-group">
		<label for="user_password">Password:</label>
	  <input id="user_password" type="password" name="user[password]">
	</div>

  <center><button>Log In</button></center>
</form>

<p class="or">or</p>

<a href="/auth/facebook">Login with Facebook</a>

</section>