<div class="container">
  <section class="sidebar"></section>

  <section class="main"></section>
</div>

<a href="#/tv/4">Tv 4</a>

<% if current_user %>
<script>
	window.currentUser = { id: <%= current_user.id %> };
</script>
<% end %>


<script>
$(document).ready(function(){
  CONZQ.initialize($("div.container"));
});
</script>