<div class="container">
  <section class="sidebar"></section>

  <section class="main"></section>
</div>




<script>
  $(document).ready(function(){
    CONZQ.initialize({ $rootEl: $(".container") });
  });
</script>