<header class="header">
	<section class="group">
		<a class="logo" href="#">CONZQ</a>

		<ul class="nav">
			<li><a class="discover" href="#">Discover</a></li>

			<li><a href="<%= new_session_url %>">Sign In</a></li>
			<li><a href="<%= new_user_url %>">Create an account</a></li>
		</ul>
	</section>
</header>

<main class="container">
</main>

<% if current_user %>
<script>
	window.currentUser = { id: <%= current_user.id %> };
</script>
<% end %>


<script>
$(document).ready(function(){
	var container = $("main.container");
	var sidebar = $("<section>").addClass("sidebar");
	var main = $("<section>").addClass("main");


  CONZQ.initialize(container, sidebar, main);
	
	
	$("a.discover").on("click", function () {
		$(".container").toggleClass("open");
	});
	
});
</script>