<div class="container">
  <section class="sidebar"></section>

  <section class="main"></section>
</div>

<a href="#/tv/4">Tv 4</a>



<script>
  $(document).ready(function(){
    CONZQ.initialize($(".container"));
  });
</script>