<div class="container">
  <section class="sidebar"></section>

  <section class="main"></section>
</div>

<% if current_user %>
<script>
	window.currentUser = { id: <%= current_user.id %> };
</script>
<% end %>


<script>
$(document).ready(function(){
  CONZQ.initialize($("div.container"), $("section.sidebar"), $("section.main"));
});
</script>