<% if current_user.favorite_shows.exists?(tv.id) %>
  <p class="fav">&hearts;</p>
  
  <form action="<%= delete_fav_url(tv) %>" method="post">
    <%= form_auth %>
    <input type="hidden" name="_method" value="delete">
    
    <button>Remove from Favorites</button>
  </form>
<% else %>
  <form action="<%= add_fav_url(tv) %>" method="post">
    <%= form_auth %>
    
    <button>Add to Favorites</button>
  </form>
<% end %>