<%= render partial: "users/profilenav" %>

<h1>My Favorites</h1>

<ul class="show_list">
  <% @favorites.each do |fav_show| %>
    <li><a href="<%= tv_show_url(fav_show) %>"><%= fav_show.title %></a></li>
  <% end %>
</ul>