<%= render partial: "users/profilenav" %>

<h1>My Favorites</h1>

<ul class="show_list">
  <% @favorites.each do |fav_show| %>
    <li>
			<%= render partial: "watchlists/result", locals: { tv: fav_show } %>
		</li>
  <% end %>
</ul>