<h1><%= @user.username %>'s Favorites</h1>

<%= render partial: "users/profilenav" %>

<ul class="show-list">
  <% @favorites.each do |fav_show| %>
    <li>
			<%= render partial: "result", locals: { tv: fav_show } %>
		</li>
  <% end %>
</ul>