<h2>
	& these are my
	<u id="followers" class="pointer">followers</u>
	<span class="unfocus">/</span>
	<u id="idols" class="pointer unfocus">followings</u>
</h2>

<section id="sub-container"></section>