<h1>my name is <u><%= user.escape("username") %></u></h1>

<section class="profile-nav">
  <ul class="group">
  <% _(["Main", "Watchlist", "Favorites", "Follows"]).each(function (nav) { %>
    <% if (nav === "Main") { %>
    <li class="selected">
    <% } else { %>
    <li>
    <% } %>
      <a id="nav" data-id="<%= nav %>" href="#"><%= nav %></a>
    </li>
  <% }) %>
  </ul>
</section>

<section class="profile-info group">
</section>

<section class="user-container">
</section>