<h1>my name is <%= user.escape("username") %></h1>

<section class="profile-nav group">
	<ul>
	<% _(["Main", "Watchlist", "Favorites", "Follows"]).each(function (nav) { %>
		<li>
			<% var navUrl = "/#/users/" + user.id %>
			
			<% if (nav !== "Main") { %>
				<% navUrl += "/" + nav.toLowerCase() %>
			<% } %>
			
			<a id="nav" data-id="<%= nav %>" href="<%= navUrl %>"><%= nav %></a>
		</li>
	<% }) %>
	</ul>
</section>

<section class="user-container">
	
	
	
</section>