<h1>my name is <%= user.escape("username") %></h1>

<section class="profile-nav group">
	<ul>
	<% _(["Main", "Watchlist", "Favorites", "Follows"]).each(function (nav) { %>
		<li>
			<a id="nav" data-id="<%= nav %>" href="#"><%= nav %></a>
		</li>
	<% }) %>
	</ul>
</section>

<section class="user-container">
</section>