<li id="watchlist">
	<ul class="watchlist-statuses">
		<% _(["Currently Watching", "Plan to Watch", "Completed", "Dropped"]).each(function (status) { %>
			<li id="status" data-id="<%= status %>"><%= status %></li>
		<% }) %>
	</ul>
</li>

<li id="favorite"></li>
<li id="message"></li>
