<% if (isThisUser) { %>
<form id="post-form">
	<textarea name="post[body]"></textarea>
	
	<label>
		Tag a show:
		<select name="post[tv_show_id]">
			<option value=""></option>
			
			<% _(userShowlist).each(function (show) { %>
			<option value="<%= show.id %>"><%= show.escape("title") %></option>
			<% }) %>
		</select>
	</label>
	
	<input type="submit" value="Submit">
</form>
<% } %>

<h2>& these are my <u>posts</u></h2>

<% if (posts) { %>
<ul class="posts"></ul>
<% } else { %>
<p>No posts.</p>
<% } %>