<h2>& this is my <u>watchlist</u></h2>

<ul class="watchlist results group">
	
	<% _(watchlist).each(function (show) { %>
	<li id="tv" data-id="<%= show.id %>">	
		<a class="show-result" href="/tv/<%= show.id %>">
			<img src="<%= show.escape("photo_thumb") %>">
			
			<%= show.escape("title") %>
			<div id="statuses"></div>
		</a>
	</li>
	<% }) %>
	
</ul>