<section class="user-fun-facts">
  <div class="input-group">
		<label for="user_bio">
			Give us a little something to share on your profile! ☺
		</label>
		<textarea id="user_bio" name="user[bio]"></textarea>
	</div>

  <div class="input-group">
		<label for="user_photo">Profile Picture:</label>
		<input id="user_photo" type="file" name="user[photo]">
	</div>
</section>