<h1>Results for "<%= @query %>"</h1>

<h2 class="text-result-header">TV Shows</h2>

<% if @tv_results.empty? %>
<p class="no-results">No results!</p>
<% else %>
<ul class="tv-text-results group">
	<% @tv_results.each do |tv| %>
	<li><%= render tv %></li>
	<% end %>
</ul>
<% end %>


<h2 class="text-result-header">Users</h2>

<% if @user_results.empty? %>
<p class="no-results">No results!</p>
<% else %>
<ul class="users-list user-text-results group">
	<% @user_results.each do |user| %>
	<li id="follow" data-id="<%= user.id %>"><%= render user %></li>
	<% end %>
</ul>
<% end %>