/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, header, main, section, div, ul, li, h1, h2, h3, a, strong, img, p, form {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

input, button, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  background: transparent;
  color: inherit;
  -webkit-appearance: none;
  box-sizing: content-box;
  width: auto;
  display: inline-block;
}

button,
input[type="submit"] {
  display: inline;
  vertical-align: baseline;
  cursor: pointer;
}

html, body {
	position: relative;
	height: 100%;
}

body {
  font-family: "Fira Sans", monospace;
	font-weight: 300;
	line-height: 1;
	background: rgb(248, 236, 255);
}

div, img, label {
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

input[type="file"] {
	background: none;
}

input:focus, textarea:focus {
	border: 1px solid #41002D;
}

h1 { /* PROFILE HEADER */
	display: block;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	margin: 15px 0;
}

h2 { /* PROFILE SECTION TITLES */
  font-weight: bold;
  font-size: 30px;
  margin: 10px 0;
}

h3 { /* SEARCH RESULT TITLES */
	font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

/*HEADER*/
.header {
	width: 100%;
	background: #41002D;
	color: #fff;
}

.header > section {
	width: 772px;
	margin: auto;
}

.header a {
	display: block;
	color: #fff;
}

.logo {
	float: left;	
	padding: 10px;
	
	font-size: 24px;
	font-weight: bold;
}

ul.nav {
	float: right;
}

ul.nav > li {
	float: left;
}

ul.nav > li > a {
	padding: 15px;
	
	font-weight: 500;
	font-size: 14px;
}

a.discover {
	transition: color 0.3s;
}

.search {
	position: relative;
}

.search-input {
	display: none;
	
	position: absolute;
	top: 44px;
	right: 0;
	
	width: 200px;
	padding: 5px 10px;
	background: pink;
	border: 1px solid tomato;
	border-top: 0;
	box-shadow: 0 1px 1px #888;
	
	z-index: 500;
}

.search-input input {
	width: 188px;
	font-size: 14px;
	color: #000;
	padding: 0 5px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.search.open .search-input {
	display: block;
}

.signed-in {
	position: relative;
}

.triangle {
	padding: 17px;
	font-size: 10px;
	cursor: pointer;
}

.profile-dropdown {
	position: absolute;
	top: 44px;
	display: none;
	width: 130px;
	
	border: 1px solid #41002D;
	border-top: 0;
	border-bottom: 0;
	
	z-index: 100;
}

.profile-dropdown > li {
	border-bottom: 1px solid #41002D;
}

.profile-dropdown > li > a {
	display: block;
	padding: 7px 10px;
	color: #000;
	background: #fff;
	
	transition: all 0.3s;
}

.profile-dropdown > li > a:hover {
	background: #FD0D9D;
}

.profile-dropdown.open {
	display: block;
}

/*CONTAINERS*/
.container {
	position: relative;
	width: 750px;
	margin: auto;
}

.sidebar {
	position: absolute;
	top: 20px;
	left: 0;
	
	display: block;
	width: 250px;
	height: 575px;
	padding: 5px;
	
	background: pink;
	transition: all 0.5s;
}

.main {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 750px;
	min-height: 525px;
	margin-bottom: 50px;
	padding: 10px;
	padding-bottom: 100px;
	display: block;
	
	background: #fff;
	border: 1px solid #ccc;
	border-top: 0;
	
	transition: all 0.5s;
}

.container.open > .sidebar {
	left: -125px;
}

.container.open > .main {
	left: 125px;
  box-shadow: -3px 0 5px rgba(6,6,6,0.2);
	
}

/* FORMS */
form.user-form {
	width: 500px;
	margin: auto;
	margin-bottom: 50px;
	padding: 50px;
	border: 1px solid #eee;
}

form.user-form .input-group {
	width: 300px;
	margin: auto;
}

form.user-form label {
	padding-bottom: 5px;
	font-weight: 500;
}

form.user-form input, textarea {
	width: 300px;
	padding: 5px;
	margin-bottom: 20px;
	background: rgb(219, 203, 216);
}

form.user-form input:focus, textarea:focus {
	padding: 4px;
}

form.user-form textarea {
	height: 100px;
}

form.user-form button {
	padding: 5px 10px;
	color: #fff;
	text-align: center;
	background: #41002D;
}

/*STATUSES*/
.statuses {
	position: relative;
	padding: 5px 0;
}

.statuses > li {
	float: left;
	margin: 0 10px 0 7px;
	cursor: pointer;
}

#watchlist {
	position: relative;
	
	width: 15px;
	height: 15px;
	
	background-image: url("status-sprite.png");
	background-size: cover;
	background-position: 0 0;
}

#watchlist.on-watchlist {
	background-position: 45px 0;
}

.watchlist-statuses {
	position: absolute;
	top: 100%;
	left: 30%;
	
	display: none;
	width: 121px;
	
	font-family: "Fira Sans";
	font-weight: 300;
	font-size: 10px;
	color: #000;
	
	border: 1px solid #000;
	border-bottom: 0;
	
	z-index: 100;
}

#watchlist:hover .watchlist-statuses {
	display: block;
}

.watchlist-statuses > li {
	padding: 5px;
	border-bottom: 1px solid black;
	
	background: #fff;
	opacity: 0.8;
	
	cursor: pointer;
	transition: opacity 0.3s;
}

.watchlist-statuses > li:hover {
	color: #fff;
	background: #666;
	opacity: 1;
}

.watchlist-statuses > li.user-status {
	font-weight: 500;
	letter-spacing: 0.7;
	background: rgb(226, 157, 157);
	opacity: 1;
}

#favorite {
	width: 15px;
	height: 15px;
	
	background-image: url("status-sprite.png");
	background-size: cover;
	background-position: 30px 0;
}

#favorite.is-favorite {
	background-position: 15px 0;
}

#message {
	position: absolute;
	top: 5px;
	left: 65px;
	
	display: none;
	padding: 2px 8px;
	border: 1px solid #27386F;
	
	font-size: 10px;
	color: #27386F;
	
	background: #D2EDFA;
}

#message.display {
	display: block;
}

#message.login-error {
	display: block;
	border: 1px solid #8A091E;
	color: #8A091E;
	background: #FAC1D5;
}
