/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, p, div, ul, li, h1, h2, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

body {
  font-family: courier;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 15px;
}

.error {
  color: red;
}

.or {
  display: block;
  font-size: 20px;
  margin: 15px 0 15px 100px;
}

.main_tv_image {
  width: 360px;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.mini-display {
  width: 200px;
}

.fav {
  color: red;
  font-size: 20px;
}

.show_result {
  display: block;
  text-decoration: none;
  border: 1px solid black;
}

.results {
  list-style: none;
  width: 950px;
}

.results > li {
  float: left;
  width: 280px;
}

.show_list {
  list-style: none;
  display: inline-block;
  margin: 15px 30px 20px 30px;
}

.show_list > li {
  margin-bottom: 10px;
}

.show_list a {
  display: block;
  width: auto;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
}