/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, p, div, ul, li, h1, h2, h3, a {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

button,
input[type="submit"] {
  display: inline;
  -webkit-appearance: none;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: auto;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

body {
  font-family: courier;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

div {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  display: block;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

/*SIGN IN*/
.sign-in {
  width: 130px;
  margin: 20px auto;
}

/*MAIN HEADER NAV*/
.nav {
	width: 650px;
	margin: 20px auto;
}

.nav > ul {
}

.nav li {
	float: left;
}

.nav a {
	padding: 15px;
}

.nav button:hover,
.nav a:hover {
	background: rgb(96, 238, 136);
	padding-bottom: 10px;
	border-bottom: 5px solid #f4821d;
}


/*STATUSES*/
.statuses > li {
	float: left;
	padding: 5px 10px 5px 5px;
	cursor: pointer;
}

#watchlist {
	position: relative;
	z-index: 3;
}

.watchlist-statuses {
	position: absolute;
	display: none;
	width: 121px;
	border: 1px solid black;
	border-bottom: 0;
}

.watchlist-statuses > li {
	font-size: 10px;
	background: white;
	opacity: 0.8;
	padding: 5px;
	border-bottom: 1px solid black;
	cursor: pointer;
	transition: all .3s;
}

.watchlist-statuses > li:hover {
	color: white;
	background: #666;
	opacity: 1;
}

#watchlist:hover .watchlist-statuses {
	display: block;
}

.watchlist-statuses > li.user-status {
	font-weight: bold;
	background: rgb(226, 157, 157);
	opacity: 1;
}

#favorite {
	position: relative;
	color: #ccc;
	z-index: 3;
}

#favorite .is_favorite {
	color: red;
}

.error {
  color: red;
}

.fav {
  color: red;
  font-size: 20px;
}

.following {
  text-align: center;
  color: rgb(29, 41, 189);
  font-size: 20px;
}

.center-button {
  font-size: 16px;
  font-weight: normal;
  color: black;
	margin-top: 10px;
	padding: 7px;
	background: rgb(96, 238, 136);
	border-bottom: 5px solid #0B33D5;
}

.center-button:hover {
	background: #45A560;
}

.center-button:active {
	border-bottom: 3px solid #0B33D5;
  padding-top: 9px;
}

/*PROFILE INDEX CONTAINER*/
section.profile {
  margin: auto;
  width: 600px;
  padding: 20px;
}

/*PROFILE INDEX LIST ITEMS*/
.show-list {
  list-style: none;
  display: inline-block;
  margin: 15px 30px 20px 30px;
}

.show-list > li {
  margin-bottom: 10px;
}

.show-list a {
  display: block;
  width: auto;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
}

.show-list img {
  float: left;
  margin: 0 10px 5px 0;
}

/*PROFILE INDEX NAVS + SEARCH PARAMS LISTING*/
.header-links-container {
  display: block;
  margin: 20px 0;
}

.header-links {
  max-width: 600px;
  display: block;
  text-align: center;
  height: auto;
  margin: auto;
}

.header-links > li {
  padding: 5px 5px 5px 0;
  margin: 0 10px;
	line-height: 30px;
	display: inline;
}

.header-links a {
	padding: 5px;
	padding-right: 0;
}

.header-links a:hover {
	border-bottom: 2px solid #f4821d;
}

/*NAV WITHIN LISTS*/
.watchlist-nav li {
  float: left;
  padding: 5px 20px 5px 0;
}

.watchlist-nav a:hover {
	border-bottom: 1px solid #f4821d;
}

.location {
  font-weight: bold;
  border-bottom: 3px solid black;
}