// Place all the styles related to the follows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//---------------------------------------

// UTILITIES
.pointer {
	cursor: pointer;
}

.unfocus {
	color: #ccc;
}

u.unfocus:hover {
	color: #FD0D9D;
}

.inline {
	display: inline-block;
}

// USER SUBVIEWS
.users-list {
	width: 606px;
	margin: 20px auto;
}

.users-list > li {
	position: relative;
	width: 280px;
	margin: 10px;
	border: 1px solid #000;
}

.users-list > li > a {
	display: block;
	width: 250px;
	padding: 15px;
}

.user-info {
	position: absolute;
	top: 16px;
	left: 75px;
}

.user-info > li {
	font-size: 12px;
}

.user-info > li:nth-child(2) {
	padding: 2px 0;
}

.user-info a {
	display: block;
}

.user-info > li.username {
	font-size: 16px;
}

.user-info > li.username > a {
	display: inline;
}


.heart {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 2px;
	background: url("status-sprite.png");
	background-size: cover;
	background-position: 15px 0;
}

.user-info > li p {
	display: inline;
	position: relative;
	bottom: 3px;
}

// FOLLOW STATUS
#follow-status,
#follows-you {
	display: inline-block;
	position: relative;
	bottom: 2px;
	padding: 2px 5px 0px 5px;
	border: 1px solid #27386F;
	
	font-size: 12px;
	color: #27386F;
	
	background: #D2EDFA;
	cursor: pointer;
}

#follows-you {
	padding: 3px 6px 1px 6px;
	border: 0;
	cursor: default;
}

#follow-status.add-follow {
	text-transform: uppercase;
}

#follow-status.add-follow:hover {
	color: #D2EDFA;
	background: #27386F;
}

#follow-status.is-following,
#follows-you {
	color: #FD0D9D;
	background: lavenderblush;
	border-color: lavenderblush;
}

#follows-you {
	text-transform: uppercase;
}

#follow-status.is-following:hover {
	color: lavenderblush;
	background: #FD0D9D;
}

#follow-status.is-following:active {
	color: black;
}

#follow-status.add-follow.hide,
#follow-status.is-following.hide,
#follows-you.hide {
	display: none;
}

#follow-status.follow-placeholder,
#follow-status.follow-placeholder:hover {
	color: #999;
	background: #ccc;
	border-color: #ccc;
}