// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.params-container {
  display: block;
  margin: 20px 0;
}

.search-params {
  max-width: 600px;
  display: block;
  text-align: center;
  height: auto;
  margin: auto;
}

.param {
  padding: 5px 10px;
  display: inline;
}

.first:before,
.param:after {
  content: "✿";
}