// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//------------------------------------------

input[type="checkbox"] {
  display: none;
}


// SEARCH CONTAINER
.search-container {
  width: 220px;
  margin: 20px auto;
}

// SEARCH NEW PAGE
.decades {
	width: 240px;
	margin: auto;
}

.decades h3 {
	font-size: 18px;
	padding: 20px 0 0 1px;
}

.decades > li {
	display: block;
	float: left;
	width: 72px;
	height: 72px;
	margin: 3px;
}

.decades > li#decade {
	width: 62px;
	height: 62px;
	background: green;
	border: 5px solid purple;
}

.decades label {
	display: block;
	padding: 18px 10px;
	text-align: center;
	font-weight: 500;
	font-size: 20px;
	
	cursor: pointer;
}

.decades > li#decade.current > label {
	padding: 18px 0;
	font-size: 12px;
	line-height: 1.2;
}

li#decade.selected,
li#genre.selected {
	background: red;
}

.or {
  display: block;
  font-size: 20px;
  margin: 15px 0 15px 100px;
}

// SEARCH PARAMS
.header-links-container.param {
	margin-top: 0;
}

.header-links > li.param {
	margin: 0;
	font-size: 12px;
}

.first:before,
li.param:after {
  content: "✿";
}

// NEW SEARCH LINK
.header-links-container > center > a {
	display: inline-block;
	margin-top: 10px;
	padding: 5px;
	background: rgb(96, 238, 136);
	border-bottom: 5px solid #0B33D5;
}

.header-links-container > center > a:hover {
	background: #45A560;
}

.header-links-container > center > a:active {
	border-bottom: 3px solid #0B33D5;
  padding-top: 7px;
}

// SORT
.sort-by {
  text-align: center;
  margin: auto;
}

// RESULTS
.results {
  width: 650px;
  margin: auto;
  height: auto;
}

.results > h3 {
	text-align: center;
}

.results > ul {
	list-style: none;
	width: 650px;
}

//.results > ul > li {
//  float: left;
//  width: 300px;
//  margin: 10px;
//}

.results > ul > li {
	position: relative;
	float: left;
	width: 270px;
	height: 370px;
	padding: 15px;
	margin: 10px;
	border: 1px solid black;
}

.results > ul > li:hover {
	padding: 14px;
	border: 2px solid #530591;
}

a.show-result {
  display: block;
  text-decoration: none;
	height: 100%;
}

.tv-info {
  font-size: 14px;
}

.tv-info > img {
	float: left;
  margin: 0 10px 10px 0;
}

.tv-info strong {
	font-weight: 500;
  font-size: 12px;
}

.rating {
  font-size: 30px;
  margin: 5px 0;
}

.result-genre {
	padding-bottom: 5px;
}

.blurb p {
  font-size: 12px;
}