// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//----------------------------------
$headerPurple: #41002D;

.no-results {
	padding: 15px;
	text-align: center;
}

// EDIT FORM
form.user-form a {
	margin-left: 15px;
	padding: 0 10px 1px 10px;
	background: #ccc;
}

// PROFILE NAV
.profile-nav {
	background: lavender;
}

.profile-nav ul {
  width: 422px;
  display: block;
  margin: auto;
}

.profile-nav li {
  float: left;
  padding: 10px;
}

.profile-nav a {
	padding: 10px 15px;
}

.profile-nav li.selected > a {
	padding-bottom: 7px;
}

// PROFILE INFO
.profile-info {
	position: relative;
	width: 500px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #eee;
}

.profile-left {
	float: left;
	width: 160px;
}

.profile-left > img#profile-photo {
	width: 160px;
	height: auto;
}

.profile-right {
	float: right;
	width: 320px;
	height: 200px;
}

.profile-right > li {
	padding-bottom: 10px;
}

.profile-right > li > p {
	height: 89px;
	padding: 15px;
	background: aliceblue;
	overflow: auto;
}

.edit-profile,
.cancel-edit {
	padding: 5px 10px;
	
	font-weight: 500;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	
	background: #CF7786;
	cursor: pointer;
} 

#edit.edit-profile,
#edit.cancel-edit {
	position: absolute;
	top: 10px;
	right: 10px;
}

.edit-profile:hover {
	background: #99516C;
}

.saving {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(204, 204, 204, 0.7);
}

.saving > p {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -18px;
	margin-left: -68px;
	
	font-weight: 500;
	font-size: 36px;
	color: #666;
}

.profile-info.save .saving {
	display: block;
}

// EDIT INFO VIEW
form#edit-user input[type="file"] {
	width: 160px;
	font-size: 12px;
}

form#edit-user textarea {
	width: 300px;
	height: 105px;
	margin-bottom: 10px;
	padding: 10px;
}

form#edit-user textarea:focus {
	padding: 9px;
}

form#edit-user input[type="submit"] {
	font-size: 14px;
	padding: 5px 10px;
	float: right;
}

.profile-info input,
.profile-info textarea,
.profile-info .cancel-edit,
.profile-info.edit p.bio,
.profile-info.edit .edit-profile {
	display: none;
} 

.profile-info.edit input,
.profile-info.edit textarea,
.profile-info.edit .cancel-edit {
	display: block;
}

// POST FORM
form#post-form {
	margin-bottom: 30px;
}

form#post-form > textarea {
	display: block;
	width: 350px;
	height: 58px;
	margin: 10px auto;
	padding: 10px;
	background: rgb(219, 203, 216);
}

form#post-form > textarea:focus {
	padding: 9px;
	border: 1px solid $headerPurple;
}

.post-form-bottom {
	width: 370px;
	margin: auto;
}

.post-form-bottom > li:first-child {
	float: left;
}

.post-form-bottom > li:last-child {
	float: right;
}

.post-form-bottom input[type="submit"] {
	float: right;
	padding: 5px 10px;
	font-size: 12px;
}

.post-form-bottom input[type="submit"]:active {
	padding-top: 6px;
	padding-bottom: 4px;
}

.post-form-bottom label {
	display: inline;
}

// POSTS
.posts > li {
	position: relative;
	display: block;
	width: 294px;
	
	padding: 17px 13px;
	margin: 10px auto;
	border: 1px solid #000;
}

section.post-left {
	position: relative;
	float: left;
}

.post-info {
	display: block;
	width: 294px;
}

.post-body {
	padding-bottom: 7px;
}

.post-bottom > li {
	float: left;
	padding-right: 5px;
}

.post-bottom > .comment-link,
.post-bottom > .time,
.tv-posts .time {
	color: #ccc;
	font-size: 12px;
}

.post-bottom > .comment-link {
	text-decoration: underline;
	cursor: pointer;
}

.post-bottom > .comment-link:hover {
	color: $headerPurple;
}

.post-bottom a { /* SHOW TAG */
	padding: 0 8px;
	
	font-size: 10px;
	color: #27386F;
	
	background: #D2EDFA;
}

.post-bottom a:hover {
	background: #6FD0FF;
}

// POST EXPAND - COMMENTS VIEW
.posts > li.expand {
	width: 514px;
	max-height: 250px;
}

form#comment-form {
	display: none;
	margin: 10px 0;
}

form#comment-form textarea {
	display: block;
	width: 284px;
	height: 40px;
	padding: 5px;
}

form#comment-form textarea:focus {
	padding: 4px;
}

.comment-form-bottom {
	float: right;
	font-size: 12px;
	color: #333;
}

.comment-form-bottom > div {
	float: left;
	padding-top: 8px;
}

.comment-form-bottom strong {
	font-weight: 500;
}

form#comment-form input[type="submit"] {
	float: left;
	margin: 5px 0 0 5px;
	padding: 3px 8px;
	font-size: 12px;
}

form#comment-form input[type="submit"]:active {
	padding-top: 4px;
	padding-bottom: 2px;
}

section.comments-right {
	display: none;
	float: right;
	width: 190px;
	max-height: 216px;
	padding: 5px;
	font-size: 12px;
	
	background: #A4FFAC;
	overflow: auto;
}

.comments > li {
	position: relative;
	padding: 5px 0;
	border-bottom: 1px solid #000;
}

.comments > li:first-child {
	padding-top: 0;
}

.comments > li:last-child {
	border-bottom: 0;
}

.comment-info > a {
	font-weight: 500;
}

.comment-info > a:hover {
	text-decoration: underline;
}

.comment-info > .time {
	color: #999;
}

.posts > li > .x {
	display: none;
	position: absolute;
	top: -5px;
	right: 0;
	
	padding: 5px;
	font-size: 24px;
	cursor: pointer;
}

li.expand form#comment-form,
li.expand section.comments-right,
li.expand .x {
	display: block;
}

// DELETE VIEWS
.delete-view {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(202, 195, 201, 0.9);
}

.delete-view > .post-delete {
	position: absolute;
	top: 50%;
	margin-top: -21px;
	left: 64px;
	
	width: 165px;
	height: 40px;
	font-weight: 500;
}

.delete-view > .comment-delete {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	left: 29px;
}

.delete-view button {
	display: block;
	float: left;
	color: #fff;
}

.delete-view > .post-delete button,
.delete-view > .watchlist-delete button {
	margin: 0 10px;
	padding: 5px 10px;
	font-size: 14px;
}

.delete-view > .comment-delete button {
	margin: 0 10px;
	padding: 2px 5px;
	font-size: 12px;
}

.delete-view button#cancel-post,
.delete-view button#cancel {
	background: #A8A8A8;
}

.delete-view button#delete-post,
.delete-view button#delete {
	font-weight: 500;
	background: #FF4F4F;
}

.delete-view button#cancel-post:hover,
.delete-view button#cancel:hover {
	background: #767676;
}

.delete-view button#delete-post:hover,
.delete-view button#delete:hover {
	background: #f00;
}

.delete-view > .post-delete button:active {
	padding: 0 10px;
	padding-top: 6px;
	padding-bottom: 4px;
}

.delete-view > .comment-delete button:active {
	padding: 0 5px;
	padding-top: 3px;
	padding-bottom: 1px;
}

.post-left.delete > .delete-view,
li#comment.delete > .delete-view,
li#tv.delete > .delete-view {
	display: block;
}