// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//----------------------------------
$headerPurple: #41002D;

// EDIT FORM
form.user-form a {
	margin-left: 15px;
	padding: 0 10px 1px 10px;
	background: #ccc;
}

// PROFILE NAV
.profile-nav ul {
  width: 418px;
  display: block;
  margin: auto;
}

.profile-nav li {
  float: left;
  padding: 10px 25px;
}

// POST FORM
form#post-form > textarea {
	display: block;
	width: 348px;
	height: 58px;
	margin: auto;
	padding: 10px;
	background: rgb(219, 203, 216);
}

form#post-form > textarea:focus {
	padding: 9px;
	border: 1px solid $headerPurple;
}

// POSTS
.posts > li {
	position: relative;
	display: block;
	width: 294px;
	
	padding: 17px 13px;
	margin: 10px auto;
	border: 1px solid #000;
	
	-webkit-tap-highlight-color:transparent;
}

section.post-left {
	position: relative;
	float: left;
}

.post-info {
	display: block;
	width: 294px;
}

.post-body {
	padding-bottom: 7px;
}

.post-bottom > li {
	float: left;
	padding-right: 5px;
}

.post-bottom > .comment-link,
.post-bottom > .time {
	color: #ccc;
	font-size: 12px;
}

.post-bottom > .comment-link {
	text-decoration: underline;
	cursor: pointer;
}

.post-bottom > .comment-link:hover {
	color: $headerPurple;
}

.post-bottom a { /* SHOW TAG */
	padding: 0 8px;
	
	font-size: 10px;
	color: #27386F;
	
	background: #D2EDFA;
}

// POST EXPAND - COMMENTS VIEW
.posts > li.expand {
	width: 514px;
	max-height: 250px;
}

form#comment-form {
	display: none;
}

section.comments-right {
	display: none;
	float: right;
	width: 190px;
	max-height: 216px;
	padding: 5px;
	font-size: 12px;
	
	background: #A4FFAC;
	overflow: auto;
}

.comments > li {
	position: relative;
	padding: 5px 0;
	border-bottom: 1px solid #000;
}

.comments > li:first-child {
	padding-top: 0;
}

.comments > li:last-child {
	border-bottom: 0;
}

.comment-info > a {
	font-weight: 500;
}

.comment-info > a:hover {
	text-decoration: underline;
}

.comment-info > .time {
	color: #999;
}

.posts > li > .x {
	display: none;
	position: absolute;
	top: -5px;
	right: 0;
	
	padding: 5px;
	font-size: 24px;
	cursor: pointer;
}

li.expand form#comment-form,
li.expand section.comments-right,
li.expand .x {
	display: block;
}

// DELETE VIEWS
.delete-view {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(202, 195, 201, 0.8);
}

.delete-view > .post-delete {
	width: 180px;
	height: 43px;
	margin: auto;
}

.delete-view > .comment-delete {
	position: absolute;
	top: 9px;
	left: 29px;
}

.delete-view button {
	color: #fff;
}

.delete-view > .post-delete > button {
	margin: 0 10px;
	padding: 5px 10px;
	font-size: 14px;
}

.delete-view > .comment-delete > button {
	margin: 0 5px;
	padding: 2px 5px;
	font-size: 12px;
}

.delete-view button#cancel-post,
.delete-view button#cancel {
	background: #A8A8A8;
}

.delete-view button#delete-post,
.delete-view button#delete {
	font-weight: 500;
	background: #FF4F4F;
}

.delete-view button#cancel-post:hover,
.delete-view button#cancel:hover {
	background: #767676;
}

.delete-view button#delete-post:hover,
.delete-view button#delete:hover {
	background: #f00;
}

.delete-view > .post-delete > button:active {
	padding: 0 9px;
	padding-top: 5px;
	padding-bottom: 3px;
	border: 1px solid #000;
}

.delete-view > .comment-delete > button:active {
	padding: 0 4px;
	padding-top: 3px;
	padding-bottom: 1px;
	border: 1px solid #000;
}

.post-left.delete > .delete-view,
li#comment.delete > .delete-view {
	display: block;
}