// Place all the styles related to the watchlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//--------------------------------

$headerPurple: #41002D;
$prettyPink: #FD0D9D;
$brightGreen: rgb(96, 238, 136);
$themeYellow: #FFDC25;

// NAV
.watchlist-nav {
	width: 496px;
	margin: 10px auto;
}

.watchlist-nav > li {
	display: block;
	float: left;
	
	padding: 0 10px;
	cursor: pointer;
}

.watchlist-nav p {
	padding: 5px;
}

.profile-nav li.selected > a,
.watchlist-nav > li.selected > p {
	font-weight: 700;
	background: $themeYellow;
	border-bottom: 3px solid #000;
}

.profile-nav a:hover,
.watchlist-nav p:hover {
	background: lavenderblush;
}

// LIST ITEMS
.watchlist {
	width: 676px;
	margin: auto;
}

.watchlist > li {
	position: relative;
	float: left;
	width: 315px;
	margin: 10px;
	font-size: 16px;
	border: 1px solid #000;
}

.watchlist > li > a.result {
	display: block;
	padding: 15px;
	width: 285px;
	height: 100%;
}

.watchlist > li > .watchlist-info {
	position: absolute;
	top: 16px;
	left: 75px;
}

.watchlist-info > a {
	display: block;
	width: 225px;
}

.watchlist .statuses {
	padding-bottom: 0;
}

.watchlist .statuses > li {
	margin-left: 0;
}

.watchlist .statuses > li#message {
	left: 52px;
}

.watchlist .watchlist-statuses > li {
	opacity: 1;
}

.watchlist-info > a.blank {
	position: absolute;
	bottom: 0;
	left: 40px;
	width: 185px;
	height: 20px;
}

.watchlist > li > .x {
	position: absolute;
	top: -5px;
	right: 0;
	
	padding: 5px;
	font-size: 24px;
	cursor: pointer;
}

// DELETE VIEW
.watchlist-delete {
	position: absolute;
	top: 15px;
	left: 72px;
	font-weight: 700;
}

.delete-view > .watchlist-delete > button {
	margin: 5px;
}