// Place all the styles related to the watchlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//--------------------------------

// LIST ITEMS
.watchlist {
	
}

.watchlist > li {
	width: 270px;
	font-size: 16px;
}

.watchlist img {
	float: left;
	margin-right: 10px;
}