<h3 class="index-header">Currently Airing</h3>

<ul class="admin-index front group">
	<% currentlyShows.each(function (show) { %>
	<li>
		<a href="/tv/<%= show.id %>">
			<img src="<%= show.escape("photo_medium") %>">
			<strong><%= show.escape("title") %></strong>
		</a>
	</li>
	<% }) %>
</ul>